.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProfileCard{
  width: 300px;
  height: 300px;
  padding: 100px;
  
  border: 15px solid rgb(255,192,203);
  margin: auto;
  background-color: rgb(255,192,203);
  font-size: 11px;
  color: rgb(100,149,237);
  border-radius: 15px;
  background-image: url("/src/images/background1.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ProfileCard2{
  width: 300px;
  height: 300px;
  padding: 100px;
  border: 15px solid rgb(255,218,185);
  position: absolute;
  right: 0;
  top: 51%;
  transform: translateY(-469px);
  margin: auto;
  background-color: rgb(255,218,185);
  font-size: 11px;
  color: rgb(29, 29, 29);
  border-radius: 15px;
  background-image:url("/src/images/background2.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ProfileCard3{
  width: 300px;
  height: 300px;
  padding: 100px;
  border: 15px solid rgb(25,25,112);
  position: absolute;
  left: -30px;
  top: -10px;
  transform: translateX(-1380px);
  margin: auto;
  background-color: rgb(25,25,112);
  font-size: 11px;
  color: rgb(240,248,255);
  border-radius: 15px;
  background-image:url("/src/images/background3.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}